.body{
    font-family: 'Agdasima', sans-serif;
    font-family: 'Jost', sans-serif;
    /* background-color: #4526b1 !important; */
}


.nav-text {
    font-size: 18px;
    font-weight: 500;
    color: black;
}

.Banner-subtitle {
    font-size: 24px;
    font-family: "Jost", sans-serif;
    font-weight: 500;
    line-height: 1.9;
    color: #7153D9;
    letter-spacing: 8px;
}

.Banner-title {
    font-size: 72px;
    font-weight: 500;
    line-height: 1.16;
}

.Banner-text {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
    color: #54545f;
}
.Banner-bg {
        background-color: #E9EDF4;

}

.Banner-btn { 
    background:linear-gradient(135deg, #7153d9 0%, #5435be 45%, #4526b1 66%); 
    color: white;
    text-decoration: none;
    border-radius: 40px;
    padding: 18px 48px;
}

.nav-active {
    background-color: white;
  }
  
.card-background {
    background-color:#F2F5FB ;
    text-align: center;
    border-radius: 200px;
    padding-top: 25px;
    height: 100px
}
.card-title {
    font-family: "Jost", sans-serif;
    font-size: 24px;
    color: #1c1c1c;
    font-weight: 500;
}

.card-text {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #54545f;
    line-height: 1.666;
    margin-bottom: 0;
}

.my-card {
    padding: 110px 0px;
}
.subtitle1 {
    font-size: 18px;
    font-family: "Jost", sans-serif;
    font-weight: 500;
    line-height: 1.9;
    color: #7153d9;
    letter-spacing: 8px;
    display: block;
}

.title1 {
    font-size: 60px;
    font-family: "Jost", sans-serif;
    font-weight: 500;
    line-height: 1.16;
    color: #1c1c1c;

}

.paragraph1{
    font-size: 21px;
    font-weight: 400;
    line-height: 1.5;
    color: #8d8e99
}

.paragraph2 {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #54545f;
    line-height: 1.66;
}

.text2 {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #54545f;
    line-height: 1.66;
}

.list-bullet {
    list-style-type: disc;
    color: #7153D9;
    font-size: 26px;
}


.service-subtitle {
    font-size: 18px;
    font-family: "Jost", sans-serif;
    font-weight: 500;
    line-height: 1.9;
    color: #7153d9;
    letter-spacing: 8px;
}

.service-title {
    font-size: 60px;
    font-family: "Jost", sans-serif;
    font-weight: 500;
    line-height: 1.16;
    color: #1c1c1c;
}

.service-text {
    font-size: 21px;
    font-weight: 400;
    line-height: 1.5;
    color: #8d8e99;

}

.card2-border {
    background-color: #FFFFFF;
}

.card2-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.7;
    color: #54545f;
}

.card2-btn {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
    font-family: "Jost", sans-serif;
}
.fa-angle-right {
    color: #7153d9;
}

.card2{
    box-shadow: 0px 12px 42px rgba(69, 38, 177, 0.1), 11px 6px 25px rgba(69, 38, 177, 0.1);
}
.banner2 {
    background-color: #4526b1;
}

.banner2-subtitle {
    color: white;
    font-size: 18px;
    font-family: "Jost", sans-serif;
    font-weight: 500;
    line-height: 1.9;
    letter-spacing: 8px
    
}

.banner2-title {
    color: white;
    font-family: "Jost", sans-serif;
    font-weight: 500;
    line-height: 1.16;
    font-size: 48px;
}   

.banner2-paragraph {
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5
}

.Banner2-btn{
   background-color: #E2C4FF;
    color: black;
    font-size: 18px;
    font-weight: 500;
    font-family: "Jost", sans-seri;
    border-radius: 40px;
    padding: 15px 48px;
    text-decoration: none;
}

.getboost-text {
    font-family: "Jost", sans-serif;
    font-size: 21px;
    font-weight: 500;
    color: #1c1c1c;
}

.getboost-icon {
    border-color: #4526b1;
    background: #4526b1;
    background: linear-gradient(135deg, #4526b1 0%, #5435be 45%, #7153d9 66%);
    border: 0px;
    border-radius: 10px;
    height: 125px;
    width: 125px;
    padding: 40px;
}
.getboost-img {
    margin-top: -120px;
}

.ourbolg-title {
    color: #7153d9;
    font-family: "Jost", sans-serif;
    font-size: 16px;
    font-weight: 500;
}
.ourbolg-p1 {
    color: #1c1c1c;
    font-size: 21px;
    font-family: "Jost", sans-serif;
    font-weight: 500;
    line-height: 1.3;
}
.ourbolg-p2 {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #54545f;
}

